node_modules
node_modules
node_modules
"scripts": {
  "dev": "webpack serve --mode development --open --hot"
},
{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ],
  "outputDirectory": "dist"
}
node_modules
node_modules
node_modules
node_modules
